{% if site.navigation_header %}
<nav id=“site-nav” class="navbar navbar-expand-lg">
  <div class="container-fluid">‬
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">‬
      {% include icon.html id="nav" title="Menu" %}
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">‬
‭       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for item in site.navigation_header %}
            <li class="nav-item dropdown" >
             <a class=“nav-link dropdown-toggle” href="{{ item.url }}">{{ item.title }}</a>
                    {% if item.subfolderitems %}
                    <ul class="dropdown-menu" >
                        {% for entry in item.subfolderitems %}
                        <li ><a class=“dropdown-item” href="{{ entry.url }}">{{ entry.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
            </li>
        {% endfor %} 
       </ul>        
     </div>
        {% if item.url contains '://' %}
          {% assign url = item.url %}
        {% else %}
          {% assign url = item.url | relative_url %}
        {% endif %}

  </div>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
</script>
